@model WebSiteHome.Models.GuitarAddViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}

<h2>Add</h2>

<form action="@Url.Action("Add", "Guitar")" method="post" data-toggle="validator" role="form">
    
    @Html.ValidationSummary(false)
    
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @*<input type="text" class="form-control" id="Name" name="Name"
            placeholder="Cina Saffary" value="@Model.Name" required>*@
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Date, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Image, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Image, new { @class = "form-control" })
    </div>
    @*<div class="form-group has-feedback">
            <label for="inputTwitter" class="control-label">Twitter</label>
            <div class="input-group">
                <span class="input-group-addon">@@</span>
                <input type="text" pattern="^[_A-z0-9]{1,}$" maxlength="15" class="form-control" id="inputTwitter" placeholder="1000hz" required>
            </div>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors">Hey look, this one has feedback icons!</div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="control-label">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="Bruh, that email address is invalid" required>
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="control-label">Password</label>
            <div class="form-inline row">
                <div class="form-group col-sm-6">
                    <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
                    <div class="help-block">Minimum of 6 characters</div>
                </div>
                <div class="form-group col-sm-6">
                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="underwear" required>
                    Boxers
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="underwear" required>
                    Briefs
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="terms" data-error="Before you wreck yourself" required>
                    Check yourself
                </label>
                <div class="help-block with-errors"></div>
            </div>
        </div>*@
    <div class="form-group">
        <button type="submit" class="btn btn-primary">додати</button>
    </div>
</form>