@model List<WebSiteHome.Entities.TGuitar>
@{
    ViewBag.Title = "Гітари";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
</div>

<h1>Список гітар</h1>

<ul class="list-group">
    @foreach (var g in Model)
    {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-3">
                    @g.Name
                </div>
                <div class="col-md-4">
                    <img class="img-thumbnail" src="@g.Image" alt="@g.Name"/>

                </div>
            </div>
        </li>
    }
</ul>

@*@Html.Partial("_Buttons")

    @Html.Partial("_Tables")

    @Html.Partial("_Thumbnails")

    @Html.Partial("_Labels")

    @Html.Partial("_Badges")

    @Html.Partial("_DropdownMenu")

    @Html.Partial("_Navs")

    @Html.Partial("_Navbars")

    @Html.Partial("_Alerts")

    @Html.Partial("_ProgressBars")

    @Html.Partial("_ListGroups")

    @Html.Partial("_Panels")

    @Html.Partial("_Wells")

    @Html.Partial("_Carousel")*@
