@{
    ViewBag.Title = "Гітари";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to create something more unique by building on or modifying it.</p>
</div>

<h1>Список гітар</h1>

@*@Html.Partial("_Buttons")

    @Html.Partial("_Tables")

    @Html.Partial("_Thumbnails")

    @Html.Partial("_Labels")

    @Html.Partial("_Badges")

    @Html.Partial("_DropdownMenu")

    @Html.Partial("_Navs")

    @Html.Partial("_Navbars")

    @Html.Partial("_Alerts")

    @Html.Partial("_ProgressBars")

    @Html.Partial("_ListGroups")

    @Html.Partial("_Panels")

    @Html.Partial("_Wells")

    @Html.Partial("_Carousel")*@
