@model IEnumerable<WebSiteHome.Models.UserItemViewModels>
@{
    ViewBag.Title = "Користувачі";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}

@*@Styles.Render("~/Content/coreui.min.css")*@
@*<link rel="stylesheet" href="~/Content/coreui.min.css">*@


<h2>Користувачі</h2>

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.FirstName), @Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.DateAdd)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach(var u in Model)
        {
        <tr>
            <td>@i</td>
            <td>@u.FirstName  @u.LastName</td>
            <td>@u.DateAdd</td>
            <td>@u.Email</td>
            <td>@u.Phone</td>
            @if (u.Status == 0)
            {
                <td><span class="label label-danger">Banned</span></td>
                <td><button id="deBlcBtn" class="btn btn-info btn-xs deBlcBtn" href="#">розблокувати</button></td>
            }
            else
            {
                <td><span class="label label-success">Active</span></td>
                <td>
                    <button id="blockBtn" class="btn btn-warning btn-xs blockBtn"
                            href="@Url.Action("Block", "Guitar")">
                        заблокувати
                    </button>
                </td>
            }
        </tr>
        i++;
        }
    </tbody>
</table>

@section Scripts{
    <script>
        $(function () {
            let name;
            let listBlockBtn = document.getElementsByClassName("blockBtn");
            let listDeBlcBtn = document.getElementsByClassName("deBlcBtn");
            for (let i = 0; i < listBlockBtn.length; i++) {
                $(listBlockBtn[i]).on("click", function () {
                    let parent = this.parentNode;
                    while (parent.nodeName !== "TR") {
                        parent = parent.parentNode;
                    }
                    name = parent.children[1].innerHTML;
                    alert(name);

                    @*$.post(@Url.Action("Block", "Guitar"), {Firstname = name}, function (responce) {
                        alert(responce);
                    });*@

                    alert("заброкувати користувача");
                });
            }
            for (let i = 0; i < listDeBlcBtn.length; i++) {
                $(listDeBlcBtn[i]).on("click", function () {
                    alert("розблокувати користувача");
                });
            }
        })


    </script>
    
    }

