@model IEnumerable<WebSiteHome.Models.UserItemViewModels>
@{
    ViewBag.Title = "Користувачі";
    Layout = "~/Views/Shared/_GuitarLayout.cshtml";
}

@*@Styles.Render("~/Content/coreui.min.css")*@
@*<link rel="stylesheet" href="~/Content/coreui.min.css">*@


<h2>Users</h2>

<table class="table table-responsive-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>@Html.DisplayNameFor(model => model.FirstName), @Html.DisplayNameFor(model => model.LastName)</th>
            <th>@Html.DisplayNameFor(model => model.DateBirth)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Status)</th>
            <th>примітка</th>
        </tr>
    </thead>
    <tbody>
        @{ int i = 1;}
        @foreach(var u in Model)
        {
        <tr>
            <td>@i</td>
            <td>@u.FirstName  @u.LastName</td>
            <td>@u.DateBirth</td>
            <td>@u.Email</td>
            <td>@u.Phone</td>
            <td>
                @if (u.Status == 0)
                {
                    <span class="label label-danger">Active</span>
                }
                else
                {<span class="label label-success">Banned</span>}
            </td>
        </tr>
        }
    </tbody>
</table>

